@import "tailwindcss";

@theme {
  --color-dark-bg: #121212;
  --color-neo-yellow: #FFD700;
  
  --shadow-brutal: 5px 5px 0px 0px #FFD700;
  --shadow-brutal-hover: 2px 2px 0px 0px #FFD700;
}

@layer base {
  body {
    @apply bg-[#050505];
  }
}

.brutalist-grid {
  background-image: radial-gradient(#222 1px, transparent 1px);
  background-size: 32px 32px;
}
body {
  background-color: #121212;
  color: white;
  background-image: radial-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 24px 24px;
}